<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intermediate Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='intermediate.css') }}">
</head>
<body>
    <ul>
        <li id="gotoIndex" onclick="location.href='index'">Home</li>
        <li id="gotoCustomer" onclick="location.href='customer'">New Customer</li>
        <li id="gotoPosting" onclick="location.href='posting'">Posting</li>
        <li id="gotoData" onclick="location.href='data'">Data</li>
    </ul>
</body>
</html>
